<!DOCTYPE html>
<html lang="en">
	<head>
        <% include ./partials/head %>
    </head>
    <body class='container'>
        <div class="jumbotron">You have arrived.</div>
        <% if (loggedIn) { %> <p>You are authenticated!</p> <% } %>
        <p>List books: <a href="./books">list</a></p>
    </body>
</html>